
$red: rgb(226, 0, 46);
$yellow: rgb(255, 237, 0);

$primary: $red;

// Import Bootstrap and BootstrapVue source SCSS files
@import 'bootstrap/scss/bootstrap.scss';
@import 'bootstrap-vue/src/index.scss';